{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Abegail M. Franco</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/picture01.jpg' %}" >
                    <hr>
                    <h4>Abegail M. Franco</h4>
                    <p></p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Qualification Summary</h4>
                    <hr>
                    <p>14-year experience as a Contact Center Representative with focus on payroll, time and attendance, technical and client servicing</p>
					<p>3 years of experience in administrative, secretarial and sales-related functions in life insurance company</p>
                    <ul>
                        <li><a href="mailto:abrokyel@gmail.com" target="_blank">abrokyel@gmail.com</a></li>
                        <li><a href="http://www.abegailfranco.herokuapp.com">www.abegailfranco.herokuapp.com</a></li>
                        <li>+639175662416</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                    <h4>Key Skills</h4>
                    <hr>                    
					<p>Customer Service</p>
                    <p>Technical Support</p>
                    <p>Virtual Assistant</p>
                    <br>
                    <h4>Education</h4>
                    <hr>
                    <h5>Philippine Christian University – Manila</h5>
					<p>Bachelor of Science in Computer Science</p>
					<p>Graduated on October 1999</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h4>Qualification Summary</h4>
                    <hr>
                    <h5>Upgrade Tech/Analyst - Time and Labor Management at ADP Phils. Inc.</h5>
					<p>Sep. 2011 - Mar. 2020</p>
                    <p>Supports and installs upgrades and assists in all technical problems (i.e. performance, security, etc.) for the ADP supported products.</p>
                    <hr>
                    <h5>Tier 2 Technical Support Rep - ISP Fiber Optics at Startek Phils.</h5>
					<p>Jul. 2009 - Sep. 2011</p>
					<p>Maintained an excellent scorecard</p>
                    <p>Provided escalation assistance for Fiber Optics, DSL, IPTV connection for home phone, internet and video services and also for the Wireless technical department</p>
                    <hr>
                    <h5>Technical Support Senior Assistant - Laptop and Desktop Support at Dell International Phils.</h5>
                    <p>Nov. 2008 - May 2009</p>
                    <p>Provided extensive hardware and basic software troubleshooting to Dell desktop and portable consumers based in the Australia and New Zealand.</p>
                    <hr>
                    <h5>Technical Support Rep - Cable Internet Service Provider at 24/7 Customer Phils.</h5>
                    <p>Feb. 2008 - Nov. 2008</p>
                    <p>Maintained an outstanding scorecard ratings which qualified me for the client’s incentive.</p>
                    <hr>
                    <h5>Technical Support Representative - ISP at ACCENTURE</h5>
                    <p>Jan. 2007 - Feb. 2008</p>
                    <p>Included in the top agents roster as metrics are continuously met.</p>
                    <hr>
                    <h5>Associate - Customer Service Rep - UK credit card account at HSBC EDP Phils.</h5>
                    <p>Apr. 2006 - Jan. 2007</p>
                    <p>Received recognition by having an excellent attendance and exceeding sales targets</p>
                    <p>Processed various banking and credit card requests; offer bank products through upselling</p>
                    <hr>
                    <h5>Servicing Staff - Life Insurance Company at Pioneer Life Inc.</h5>
                    <p>Dec. 2002 - Mar. 2006</p>
                    <p>Consistently surpassed expectations set by my superiors.</p>
                    <p>Multitasked on administrative and sales functions as needed by the whole team</p>                    
                </div>
            </div>
 
        </div>
        <br>

    </div>
</body>

</html>